.App-header {
  background-color: #282c34;
}

.speed-test {
  margin-top: 20px;
}

.results .card {
  padding: 20px;
  margin: 10px;
  font-size: 1.2rem;
}

.results .card-title {
  font-size: 1.4rem;
  font-weight: bold;
}
